    <!DOCTYPE html>
<html>
<head>
  <link href="agenda/static/css/estilo.css"; rel="stilo">
</head>
<body>

  <h1>Agenda</h1>

  <br>
<table>
  <tr>
    <th class="horarios_t">Horarios</th>
<th class="dia1">Segunda</th>
  <th class="dia2">Terça</th>
  <th class="dia3">Quarta</th>
  <th class="dia4">Quinta</th>
  <th class="dia5">Sexta</th>
  <th class="dia6">Sabado</th>
  <th class="dia7">Domingo</th>
   </tr>
  <tr>
   </tr>

  <!-- Horario das 9:00 da manha -->
  <tr>
    <td class="time_h t_9">&nbsp;<time>9:00</time>&nbsp;Am</td>
   <!-- Segunda -->
    <td class="td9_segunda">Ler um livro</td>
   <!-- Terça -->
    <td class="td9_terca">Ler um livro</td>
  <!-- Quarta -->
  <td class="td9_quarta">Ler um livro</td>
  <!-- Quinta -->
    <td class="td9_quinta">Ler um livro</td>
  <!-- Sexta -->
    <td class="td9_sexta">Ler um livro</td>
  <!-- Sabado -->
    <td class="td9_sabado">Ler um livro</td>
  <!-- Domingo -->
    <td class="td9_domingo">Ler um livro</td>
  </tr>

  <!-- Horario das 10:00 da manha -->
  <tr>
    <td class="time_h t_10">&nbsp;<time>10:00</time>&nbsp;Am</td>
   <!-- Segunda -->
    <td class="td10_segunda">Codificar</td>
   <!-- Terça -->
    <td class="td10_terca">Codificar CMS</td>
  <!-- Quarta -->
    <td class="td10_quarta">Ler um livro</td>
  <!-- Quinta -->
    <td class="td10_quinta">Ler um livro</td>
  <!-- Sexta -->
    <td class="td10_sexta">Ler um livro</td>
  <!-- Sabado -->
    <td class="td10_sabado">Ler um livro</td>
  <!-- Domingo -->
    <td class="td10_domingo">Ler um livro</td>
  </tr>

  <!-- Horario das 11:00 da manha -->
  <tr>
    <td class="time_h t_23">&nbsp;<time>11:00</time>&nbsp;Am</td>
   <!-- Segunda -->
    <td class="td11_segunda">Ler um livro</td>
   <!-- Terça -->
    <td class="td11_terca">Ler um livro</td>
  <!-- Quarta -->
  <td class="td11_quarta">Ler um livro</td>
  <!-- Quinta -->
    <td class="td11_quinta">Ler um livro</td>
  <!-- Sexta -->
    <td class="td11_sexta">Ler um livro</td>
  <!-- Sabado -->
    <td class="td11_sabado">Ler um livro</td>
  <!-- Domingo -->
    <td class="td11_domingo">Ler um livro</td>
  </tr>

  <!-- Horario das 9:00 da manha -->
  <tr>
    <td class="time_h t_23">&nbsp;<time>12:00</time>&nbsp;Pm</td>
   <!-- Segunda -->
    <td class="td12_segunda">Ler um livro</td>
   <!-- Terça -->
   <td class="td12_terca">Ler um livro</td>
   <!-- Quarta -->
   <td class="td12_quarta">Ler um livro</td>
   <!-- Quinta -->
     <td class="td12_quinta">Ler um livro</td>
   <!-- Sexta -->
     <td class="td12_sexta">Ler um livro</td>
   <!-- Sabado -->
     <td class="td12_sabado">Ler um livro</td>
   <!-- Domingo -->
     <td class="td12_domingo">Ler um livro</td>
  </tr>

  <!-- Horario das 13:00 da manha -->
  <tr>
    <td class="time_h t_23">&nbsp;<time>13:00</time>&nbsp;Pm</td>
   <!-- Segunda -->
    <td class="td13_segunda">Ler um livro</td>
   <!-- Terça -->
    <td class="td13_terca">Ler um livro</td>
  <!-- Quarta -->
  <td class="td13_quarta">Ler um livro</td>
  <!-- Quinta -->
    <td class="td13_quinta">Ler um livro</td>
  <!-- Sexta -->
    <td class="td13_sexta">Ler um livro</td>
  <!-- Sabado -->
    <td class="td13_sabado">Ler um livro</td>
  <!-- Domingo -->
    <td class="td13_domingo">Ler um livro</td>
  </tr>

  <!-- Horario das 14:00 da manha -->
  <tr>
    <td class="time_h t_14">&nbsp;<time>14:00</time>&nbsp;Pm</td>
   <!-- Segunda -->
    <td class="td14_segunda">Ler um livro</td>
   <!-- Terça -->
    <td class="td14_terca">Ler um livro</td>
  <!-- Quarta -->
  <td class="td14_quarta">Ler um livro</td>
  <!-- Quinta -->
    <td class="td14_quinta">Ler um livro</td>
  <!-- Sexta -->
    <td class="td14_sexta">Ler um livro</td>
  <!-- Sabado -->
    <td class="td14_sabado">Ler um livro</td>
  <!-- Domingo -->
    <td class="td14_domingo">Ler um livro</td>
  </tr>

  <!-- Horario das 15:00 da manha -->
  <tr>
    <td class="time_h t_15">&nbsp;<time>15:00</time>&nbsp;Pm</td>
   <!-- Segunda -->
    <td class="td15_segunda">Ler um livro</td>
   <!-- Terça -->
    <td class="td15_terca">Ler um livro</td>
  <!-- Quarta -->
  <td class="td15_quarta">Ler um livro</td>
  <!-- Quinta -->
    <td class="td15_quinta">Ler um livro</td>
  <!-- Sexta -->
    <td class="td15_sexta">Ler um livro</td>
  <!-- Sabado -->
    <td class="td15_sabado">Ler um livro</td>
  <!-- Domingo -->
    <td class="td15_domingo">Ler um livro</td>
  </tr>

  <!-- Horario das 16:00 da manha -->
  <tr>
    <td class="time_h t_16">&nbsp;<time>16:00</time>&nbsp;Pm</td>
   <!-- Segunda -->
    <td class="td16_segunda">Ler um livro</td>
   <!-- Terça -->
    <td class="td16_terca">Ler um livro</td>
  <!-- Quarta -->
  <td class="td16_quarta">Ler um livro</td>
  <!-- Quinta -->
    <td class="td16_quinta">Ler um livro</td>
  <!-- Sexta -->
    <td class="td16_sexta">Ler um livro</td>
  <!-- Sabado -->
    <td class="td16_sabado">Ler um livro</td>
  <!-- Domingo -->
    <td class="td16_domingo">Ler um livro</td>
  </tr>

  <!-- Horario das 17:00 da manha -->
  <tr>
    <td class="time_h t_17">&nbsp;<time>17:00</time>&nbsp;Pm</td>
   <!-- Segunda -->
    <td class="td17_segunda">Ler um livro</td>
   <!-- Terça -->
    <td class="td17_terca">Ler um livro</td>
  <!-- Quarta -->
  <td class="td17_quarta">Ler um livro</td>
  <!-- Quinta -->
    <td class="td17_quinta">Ler um livro</td>
  <!-- Sexta -->
    <td class="td17_sexta">Ler um livro</td>
  <!-- Sabado -->
    <td class="td17_sabado">Ler um livro</td>
  <!-- Domingo -->
    <td class="td17_domingo">Ler um livro</td>
  </tr>

  <!-- Horario das 18:00 da manha -->
  <tr>
    <td class="time_h t_18">&nbsp;<time>18:00</time>&nbsp;Pm</td>
   <!-- Segunda -->
    <td class="td18_segunda">Ler um livro</td>
   <!-- Terça -->
    <td class="td18_terca">Ler um livro</td>
  <!-- Quarta -->
  <td class="td18_quarta">Ler um livro</td>
  <!-- Quinta -->
    <td class="td18_quinta">Ler um livro</td>
  <!-- Sexta -->
    <td class="td18_sexta">Ler um livro</td>
  <!-- Sabado -->
    <td class="td18_sabado">Ler um livro</td>
  <!-- Domingo -->
    <td class="td18_domingo">Ler um livro</td>
  </tr>

  <!-- Horario das 19:00 da manha -->
  <tr>
    <td class="time_h t_19">&nbsp;<time>19:00</time>&nbsp;Pm</td>
   <!-- Segunda -->
    <td class="td19_segunda">Ler um livro</td>
   <!-- Terça -->
    <td class="td19_terca">Ler um livro</td>
  <!-- Quarta -->
  <td class="td19_quarta">Ler um livro</td>
  <!-- Quinta -->
    <td class="td19_quinta">Ler um livro</td>
  <!-- Sexta -->
    <td class="td19_sexta">Ler um livro</td>
  <!-- Sabado -->
    <td class="td19_sabado">Ler um livro</td>
  <!-- Domingo -->
    <td class="td19_domingo">Ler um livro</td>
  </tr>

  <!-- Horario das 20:00 da manha -->
  <tr>
    <td class="time_h t_23">&nbsp;<time>20:00</time>&nbsp;Pm</td>
   <!-- Segunda -->
    <td class="td20_segunda">Ler um livro</td>
   <!-- Terça -->
    <td class="td20_terca">Ler um livro</td>
  <!-- Quarta -->
  <td class="td20_quarta">Ler um livro</td>
  <!-- Quinta -->
    <td class="td20_quinta">Ler um livro</td>
  <!-- Sexta -->
    <td class="td20_sexta">Ler um livro</td>
  <!-- Sabado -->
    <td class="td20_sabado">Ler um livro</td>
  <!-- Domingo -->
    <td class="td20_domingo">Ler um livro</td>
  </tr>

  <!-- Horario das 21:00 da manha -->
  <tr>
    <td class="time_h t_21">&nbsp;<time>21:00</time>&nbsp;Pm</td>
   <!-- Segunda -->
    <td class="td21_segunda">Ler um livro</td>
   <!-- Terça -->
    <td class="td21_terca">Ler um livro</td>
  <!-- Quarta -->
  <td class="td21_quarta">Ler um livro</td>
  <!-- Quinta -->
    <td class="td21_quinta">Ler um livro</td>
  <!-- Sexta -->
    <td class="td21_sexta">Ler um livro</td>
  <!-- Sabado -->
    <td class="td21_sabado">Ler um livro</td>
  <!-- Domingo -->
    <td class="td21_domingo">Ler um livro</td>
  </tr>

  <!-- Horario das 22:00 da manha -->
  <tr>
    <td class="time_h t_22">&nbsp;<time>22:00</time>&nbsp;Pm</td>
   <!-- Segunda -->
    <td class="td22_segunda">Ler um livro</td>
   <!-- Terça -->
    <td class="td22_terca">Ler um livro</td>
  <!-- Quarta -->
  <td class="td22_quarta">Ler um livro</td>
  <!-- Quinta -->
    <td class="td22_quinta">Ler um livro</td>
  <!-- Sexta -->
    <td class="td22_sexta">Ler um livro</td>
  <!-- Sabado -->
    <td class="td22_sabado">Ler um livro</td>
  <!-- Domingo -->
    <td class="td22_domingo">Ler um livro</td>
  </tr>

  <!-- Horario das 23:00 da manha -->
  <tr>
    <td class="time_h t_23">&nbsp;<time>23:00</time>&nbsp;Pm</td>
   <!-- Segunda -->
    <td class="td23_segunda">Ler um livro</td>
   <!-- Terça -->
    <td class="td23_terca">Ler um livro</td>
  <!-- Quarta -->
    <td class="td23_quarta">Ler um livro</td>
  <!-- Quinta -->
    <td class="td23_quinta">Ler um livro</td>
  <!-- Sexta -->
    <td class="td23_sexta">Ler um livro</td>
  <!-- Sabado -->
    <td class="td23_sabado">Ler um livro</td>
  <!-- Domingo -->
    <td class="td23_domingo">Ler um livro</td>
  </tr>

</table>


<h1>Seu mapa do sonho aqui</h1>
<div class="divmapa">
  <img class="img_s" rel="imagem_o_quero" src="./JOB.png"> 
</div>


<br class="brss"><br class="brss"><br class="brss"><br class="brss">

<div class="container querer">
  <h1 class="querer">O que vocé quer</h1>

</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
ll
</body>
</html>
